@inherits LayoutComponentBase

<PageTitle>BlazorAppG05</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4 border border-2 rounded rounded-4 m-3">
            @Body
        </article>
    </main>
</div>
